<div class="row">
    <div class="col-12">
        <div class="card">
            <form  novalidate>
                <div class="card-block">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="loader">
                            <!-- <img src="assets/Loading.gif"> -->
                        </div>
                        <!-- <iframe [src]='url' class="frameSet" type="application/pdf"></iframe> -->
                        <iframe [src]='url.pdf' type="application/pdf"></iframe>

                        <!-- <a [href]="url"></a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
